.form-actions {
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 30px; }

.icon-show, .icon-hide {
  font-size: 21px;
  position: absolute;
  right: 24px;
  top: 7px;
  cursor: pointer; }

.quickSet {
  margin-top: 80px;
  padding: 20px 40px;
  min-height: 480px; }

.quickContent header {
  margin: 40px 0 20px 0; }

@media (max-width: 767px) {
  .quickSet {
    margin-top: 15px;
    padding: 10px;
    min-height: 460px; }
  .quickContent header {
    margin: 10px 0; } }

#quickSetStaticWrap .form-group {
  margin-bottom: 5px; }

.quickSet h1 {
  font-size: 22px;
  color: #ed7020; }

.legend {
  font-size: 16px;
  text-align: left; }

.quickSet h2 {
  font-size: 18px; }

.quickContent .content {
  padding: 50px 0 20px; }

.quickContent .icon-success {
  padding: 70px 0 0 0;
  width: 100px;
  color: #52d11a;
  font-size: 100px; }

.quickContent .icon-cancel {
  padding: 65px 0 0px 34px;
  color: red;
  font-size: 125px; }

header .icon-tenda {
  color: #ff0000;
  font-size: 43px; }

.text-wrap {
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.dialog-pancel {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 3000;
  border: 1px solid #f2f2f2;
  padding: 0; }

@media (max-width: 767px) {
  .dialog-pancel {
    left: 0;
    right: 0;
    margin: 15px;
    width: auto; } }

@media (min-width: 1200px) {
  .dialog-pancel {
    margin-left: -20%;
    width: 40%; } }

.dialog-message {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px; }

.dialog-title {
  height: 45px;
  line-height: 45px;
  background: #f2f2f2; }

.dialog-close {
  float: right;
  cursor: pointer;
  font-size: 22px;
  margin-right: 10px; }

#wifiName {
  text-align: left;
  white-space: nowrap;
  padding-top: 7px; }

#successinternetWrap {
  line-height: 50px; }

#details {
  margin-top: 50px; }

.scan-icon {
  float: right; }

  .icon-eye {
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer
}
