h2 {
  font-size: 18px; }

.icon-show, .icon-hide {
  font-size: 21px;
  position: absolute;
  right: 24px;
  top: 7px;
  cursor: pointer; }

#wifiName {
  white-space: nowrap; }

#doneWrap .icon-success {
  padding: 15px 0 0 0;
  width: 100px;
  color: #52d11a;
  font-size: 100px; }

#successinternetWrap {
  line-height: 50px; }
